.idea/
.idea/*
.gradle/
.gradle/*
build/
build/*
app/build/
app/build/*
app/release/
app/release/*
app/build.gradle
app/google-services.json
*.iml
*.apk
gradle/wrapper/
gradle/wrapper/*
local.properties